body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

.layout {
    display: flex;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    width: 100%;
    height: 95%;
    background-color: #a396c1;
    box-shadow: 0 0 40px 10px #807f7f;
    border-radius: 30px;
}

nav:hover {
    background-color: #daccfa;
    box-shadow: 0 0 50px 10px #000;
}

.nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.nav-element {
    list-style: none;
}

.nav-element:hover {
    transform: scale(1.2);
}

.new-poll-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.nav-icon {
    display: block;
    margin: auto;
    width: 50%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
}

.stats {
    font-size: 3em;
    line-height: 1.7em;
}

.form-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poll-form-subtitle {
    font-size: 35px;
    text-transform: uppercase;
}

.poll-form {
    background-color: #a396c1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    min-height: 20em; 
    min-width: 20em;
    padding: 4em;
    border-radius: 10px;
    box-shadow: 0 0 30px 10px #b4b4b4;
}

.poll-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3;
    width: 100%;
}

.poll-input {
    border-radius: 10px;
    padding: 1em 1em;
    border: none;
}

.form-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.form-button {
    border-radius: 10px;
    border: none;
    padding: 1em 3em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.form-button:hover {
    box-shadow: 0 0 50px 5px #cfcece;
    transform: scale(1.2);
}

.poll-label {
    padding: 1% 10%;
    border-radius: 10px;
    background-color: #d9d2e9;
    margin-bottom: 5%;
    cursor: pointer;
}

.poll-label:hover {
    transform: scale(1.2);
}

.result-line {
    text-align: center;
}

.result-bar {
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 4px;
    height: 20px;
}

.result-bar-fill {
    background-color: #4CAF50;
    height: 100%;
    transition: width 0.5s ease-in-out;
}